:root {
	--foreground: #4d4d4c;
	--background: #ffffff;
	--selection: #d6d6d6;
	--line: #efefef;
	--comment: #8e908c;
	--red: #c82829;
	--orange: #f5871f;
	--yellow: #eab700;
	--green: #718c00;
	--aqua: #3e999f;
	--blue: #4271ae;
	--purple: #8959a8;
	--window: #efefef;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground: #c5c8c6;
		--background: #1d1f21;
		--selection: #373b41;
		--line: #282a2e;
		--comment: #969896;
		--red: #cc6666;
		--orange: #de935f;
		--yellow: #f0c674;
		--green: #b5bd68;
		--aqua: #8abeb7;
		--blue: #81a2be;
		--purple: #b294bb;
		--window: #4d5057;
	}
}

:root {
	--toolbar-fg: var(--blue);
	--toolbar-bg: var(--window);
	--header-height: 40px;
	--header-padding: 0.5em;
}

* {
	margin: 0;
	padding: 0;
}

*:focus {
	outline: none;
}

code {
	white-space: pre;
	font-family: var(--monospace-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}

body {
	width: 100%;
	height: 100%;
	font-family: system-ui;
	line-height: 1.5;
	background-color: var(--background);
	color: var(--foreground);

	--monospace-family: Menlo, monospace;
	--monospace-size: 13px;
}

a {
	color: var(--blue);
}
a:visited {
	color: var(--purple);
}
a:active {
	color: var(--red);
}

.cm-content {
	font-family: var(--monospace-family);
	font-size: var(--monospace-size);
}

html {
	height: 100%;
}

ul {
	list-style-position: inside;
}

ul ul {
	padding-left: 2em;
}

.bauble-placeholder {
	height: 256px;
	border-radius: 2px;
	overflow: hidden;
}

.bauble-placeholder > .script {
	display: none;
}

.bauble-placeholder .canvas-container,
.bauble-placeholder .code-container {
	position: relative;
}
.bauble-placeholder .bauble canvas {
	max-height: calc(min(100%, var(--canvas-height)));
}
.bauble-placeholder .toolbar {
	background-color: initial;
}
.bauble-placeholder .toolbar:last-child {
	bottom: 0;
}
.bauble-placeholder .toolbar {
	z-index: 1;
	position: absolute;
	left: 0;
	right: 0;
}
.bauble-placeholder .code-container .toolbar {
	background-image: none;
	border: none;
	pointer-events: none;
}
.bauble-placeholder .code-container .toolbar .indicator.compilation-error svg {
	fill: var(--background);
}
.bauble-placeholder .canvas-container .toolbar input[inputmode='numeric'] {
	background: transparent;
}
.bauble-placeholder .canvas-container .toolbar {
	transition: visibility 0s 300ms, opacity 150ms 300ms;
}
.bauble-placeholder .canvas-container:not(:hover) .toolbar {
	opacity: 0;
	visibility: hidden;
	transition: visibility 0s 450ms, opacity 150ms 300ms;
}
.bauble-placeholder {
	border: solid 2px var(--window);
}

body.main-page {
	display: flex;
	flex-direction: column;
}

body.main-page .bauble {
	flex: 1;
}
